extends layout

block content
  // Navigation
  nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
    .container
      a.navbar-brand(href='#') Pagina principal
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='#') Registrarte
          li.nav-item
            a.nav-link(href='#') Ingresar
  header.masthead.text-center.text-white
    .masthead-content
      .container
        h1.masthead-heading.mb-0 Respawn
        h2.masthead-subheading.mb-0 La colección a tu alcance
        a.btn.btn-primary.btn-xl.rounded-pill.mt-5(href='#') Leer mas
    .bg-circle-1.bg-circle
    .bg-circle-2.bg-circle
    .bg-circle-3.bg-circle
    .bg-circle-4.bg-circle
  section
    .container
      .row.align-items-center
        .col-lg-6.order-lg-2
          .p-5
            img.img-fluid.rounded-circle(src='images/01.jpg' alt='')
        .col-lg-6.order-lg-1
          .p-5
            h2.display-4 Para aquellos que aman coleccionar...
            p
              | Tenemos una amplia colección de figuras de colección, desde la cultura pop hasta la cultura anime, todo en un mismo lugar. Series, Peliculas, Shows, Cartoons incluso Animes contamos con figuras de muchos generos para todas las personas y edades.
  section
    .container
      .row.align-items-center
        .col-lg-6
          .p-5
            img.img-fluid.rounded-circle(src='images/02.jpg' alt='')
        .col-lg-6
          .p-5
            h2.display-4 Somos coleccionistas!
            p
              | Nosotros somos una empresa totalmente apasionada por la colección de figuras, así que siempre estamos dispuestos a dar el mejor servicio y la mejor calidad en cuanto figuras, además de brindarles las colecciones más exclusivas y extensas del mercado.
  section
    .container
      .row.align-items-center
        .col-lg-6.order-lg-2
          .p-5
            img.img-fluid.rounded-circle(src='images/03.jpg' alt='')
        .col-lg-6.order-lg-1
          .p-5
            h2.display-4 Pedidos Internacionales!
            p
              | Somos una empresa capaz de realizar pedidos internacionales, eso quiere decir que puede viajar hasta la puerta de tu hogar, sin problemas, nosotros nos encargamos de entregartelo en el mejor tiempo posible.
  // Footer
  footer.py-5.bg-black
    .container
      p.m-0.text-center.text-white.small Copyright &copy; Respawn Inc. 2020
    // /.container
  // Bootstrap core JavaScript
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
